.slicSlider{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  padding: 6vw 10vw;

}
.imgH {
    height: 136px;
    width: 242px;
}
.slideT {
    height: 450px;
    width: 100%;
}

.slidertitle {
    font-family: "Noto Sans", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.2px;
    color: #fab012;
    text-align: center;
    padding-bottom: 2rem;
    word-spacing: 0px;
}

.slideMain{
    max-width: 490px;
    width: 100%;
}