.slicSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0vw 0vw;

}

.imgH {
    height: 136px;
    max-width: 242px;
    width: 100%;
}

.slideT {
    height: 450px;
    width: 100%;
}

.slidertitle {
    font-family: "Noto Sans", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.2px;
    color: #fab012;
    text-align: center;
    padding-bottom: 2rem;
    word-spacing: 0px;
}

.slideMain {
    max-width: 490px;
    width: 100%;
}

@media (max-width:500px) {
    .slideMain {
        max-width: 350px;
        width: 100%;
    }

    .slideT {
        height: 300px;
        width: 100%;
    }

    .imgH {
        height: 120px;
        max-width: 242px;
        width: 100%;
    }
    .slidertitle{
        font-size: 2rem;
    }

}