.slicSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 6vw 10vw;

}

.imgH {
    height: 160px;
}

.slideT {
    height: 30rem;
    width: 100%;
}

.slidertitle {
    font-family: "Noto Sans", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.2px;
    color: #fab012;
    text-align: center;
    padding-bottom: 2rem;
    word-spacing: 0px;
}

.slideMain1 {
    width: 1120px;
}

.imgBottom {
    height: 136px;
    width: 100%;
}

@media (max-width:768px) {
    .slidertitle {
        font-size: 2rem;
    }
}
@media (max-width:500px) {
    .slidertitle {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
}